GO
/****** Object:  Table [dbo].[SYS_USR]    Script Date: 11/05/2022 15:36:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USR](
	[USR_ID] [varchar](6) NOT NULL,
	[USR_UUID] [varchar](32) NOT NULL,
	[USR_CODIGO] [varchar](25) NOT NULL,
	[USR_PSWMD5] [varchar](128) NOT NULL,
	[USR_NOME] [varchar](40) NOT NULL,
	[USR_MSBLQL] [varchar](1) NOT NULL,
	[USR_MSBLQD] [varchar](8) NOT NULL,
	[USR_EMAIL] [varchar](150) NOT NULL,
	[USR_DEPTO] [varchar](40) NOT NULL,
	[USR_CARGO] [varchar](40) NOT NULL,
	[USR_ANO] [varchar](1) NOT NULL,
	[USR_VERSAO] [varchar](10) NOT NULL,
	[USR_CHGPSW] [varchar](1) NOT NULL,
	[USR_IDMID] [varchar](32) NOT NULL,
	[USR_CHKSUM] [varchar](40) NOT NULL,
	[USR_CODSAL] [varchar](8) NOT NULL,
	[USR_DTINC] [varchar](8) NOT NULL,
	[USR_KEY_SP] [varchar](8) NOT NULL,
	[USR_SEQ_SP] [float] NOT NULL,
	[USR_DTBASE] [varchar](1) NOT NULL,
	[USR_REDTBS] [float] NOT NULL,
	[USR_AVDTBS] [float] NOT NULL,
	[USR_RAMAL] [varchar](4) NOT NULL,
	[USR_ALLEMP] [varchar](1) NOT NULL,
	[USR_RESOUR] [varchar](30) NOT NULL,
	[D_E_L_E_T_] [varchar](1) NOT NULL,
	[R_E_C_N_O_] [bigint] IDENTITY(1,1) NOT NULL,
	[R_E_C_D_E_L_] [bigint] NOT NULL,
	[USR_SERIE_SP] [varchar](8) NOT NULL,
	[USR_QTDEXPPSW] [float] NOT NULL,
	[USR_GRPRULE] [varchar](1) NOT NULL,
	[USR_NEEDROLE] [varchar](1) NOT NULL,
	[USR_DTCHGPSW] [varchar](8) NOT NULL,
	[USR_DTAVICHGPSW] [varchar](8) NOT NULL,
	[USR_DTLOGON] [varchar](8) NOT NULL,
	[USR_HRLOGON] [varchar](8) NOT NULL,
	[USR_IPLOGON] [varchar](50) NOT NULL,
	[USR_CNLOGON] [varchar](50) NOT NULL,
	[USR_USERSOLOGON] [varchar](150) NOT NULL,
	[USR_DTTENTBLQ] [varchar](8) NOT NULL,
	[USR_HRTENTBLQ] [varchar](8) NOT NULL,
	[USR_QTDTENTBLQ] [float] NOT NULL,
	[USR_DATABLQ] [varchar](8) NOT NULL,
	[USR_HORABLQ] [varchar](8) NOT NULL,
	[USR_ULTSPSW] [varbinary](max) NULL,
	[USR_L_ADMIN_CH] [varchar](25) NOT NULL,
	[USR_BLQ_USR] [varchar](25) NOT NULL,
	[USR_DTALASTALT] [varchar](8) NOT NULL,
	[USR_HRLASTALT] [varchar](8) NOT NULL,
	[USR_TYPEBLOCK] [varchar](1) NOT NULL,
	[USR_QTDACESSOS] [float] NOT NULL,
	[USR_TIMEOUT] [float] NOT NULL,
	[USR_LISTNER] [varchar](1) NOT NULL,
	[USR_NIVELREAD] [float] NOT NULL,
 CONSTRAINT [SYS_USR_PK] PRIMARY KEY CLUSTERED 
(
	[R_E_C_N_O_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SYS_USR] ON 



SET IDENTITY_INSERT [dbo].[SYS_USR] OFF
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_ID_DF]  DEFAULT ('      ') FOR [USR_ID]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_UUID_DF]  DEFAULT ('                                ') FOR [USR_UUID]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_CODIGO_DF]  DEFAULT ('                         ') FOR [USR_CODIGO]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_PSWMD5_DF]  DEFAULT ('                                                                                                                                ') FOR [USR_PSWMD5]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_NOME_DF]  DEFAULT ('                                        ') FOR [USR_NOME]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_MSBLQL_DF]  DEFAULT (' ') FOR [USR_MSBLQL]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_MSBLQD_DF]  DEFAULT ('        ') FOR [USR_MSBLQD]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_EMAIL_DF]  DEFAULT ('                                                                                                                                                      ') FOR [USR_EMAIL]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_DEPTO_DF]  DEFAULT ('                                        ') FOR [USR_DEPTO]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_CARGO_DF]  DEFAULT ('                                        ') FOR [USR_CARGO]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_ANO_DF]  DEFAULT (' ') FOR [USR_ANO]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_VERSAO_DF]  DEFAULT ('          ') FOR [USR_VERSAO]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_CHGPSW_DF]  DEFAULT ('F') FOR [USR_CHGPSW]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_IDMID_DF]  DEFAULT ('                                ') FOR [USR_IDMID]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_CHKSUM_DF]  DEFAULT ('                                        ') FOR [USR_CHKSUM]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_CODSAL_DF]  DEFAULT ('        ') FOR [USR_CODSAL]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_DTINC_DF]  DEFAULT ('        ') FOR [USR_DTINC]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_KEY_SP_DF]  DEFAULT ('        ') FOR [USR_KEY_SP]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_SEQ_SP_DF]  DEFAULT ((0)) FOR [USR_SEQ_SP]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_DTBASE_DF]  DEFAULT (' ') FOR [USR_DTBASE]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_REDTBS_DF]  DEFAULT ((0)) FOR [USR_REDTBS]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_AVDTBS_DF]  DEFAULT ((0)) FOR [USR_AVDTBS]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_RAMAL_DF]  DEFAULT ('    ') FOR [USR_RAMAL]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_ALLEMP_DF]  DEFAULT (' ') FOR [USR_ALLEMP]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_RESOUR_DF]  DEFAULT ('                              ') FOR [USR_RESOUR]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_D_E_L_E_T__DF]  DEFAULT (' ') FOR [D_E_L_E_T_]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_R_E_C_D_E_L__DF]  DEFAULT ((0)) FOR [R_E_C_D_E_L_]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_SERIE_SP_DF]  DEFAULT ('        ') FOR [USR_SERIE_SP]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_QTDEXPPSW_DF]  DEFAULT ((0)) FOR [USR_QTDEXPPSW]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_GRPRULE_DF]  DEFAULT (' ') FOR [USR_GRPRULE]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_NEEDROLE_DF]  DEFAULT ('F') FOR [USR_NEEDROLE]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_DTCHGPSW_DF]  DEFAULT ('        ') FOR [USR_DTCHGPSW]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_DTAVICHGPSW_DF]  DEFAULT ('        ') FOR [USR_DTAVICHGPSW]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_DTLOGON_DF]  DEFAULT ('        ') FOR [USR_DTLOGON]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_HRLOGON_DF]  DEFAULT ('        ') FOR [USR_HRLOGON]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_IPLOGON_DF]  DEFAULT ('                                                  ') FOR [USR_IPLOGON]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_CNLOGON_DF]  DEFAULT ('                                                  ') FOR [USR_CNLOGON]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_USERSOLOGON_DF]  DEFAULT ('                                                                                                                                                      ') FOR [USR_USERSOLOGON]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_DTTENTBLQ_DF]  DEFAULT ('        ') FOR [USR_DTTENTBLQ]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_HRTENTBLQ_DF]  DEFAULT ('        ') FOR [USR_HRTENTBLQ]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_QTDTENTBLQ_DF]  DEFAULT ((0)) FOR [USR_QTDTENTBLQ]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_DATABLQ_DF]  DEFAULT ('        ') FOR [USR_DATABLQ]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_HORABLQ_DF]  DEFAULT ('        ') FOR [USR_HORABLQ]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_L_ADMIN_CH_DF]  DEFAULT ('                         ') FOR [USR_L_ADMIN_CH]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_BLQ_USR_DF]  DEFAULT ('                         ') FOR [USR_BLQ_USR]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_DTALASTALT_DF]  DEFAULT ('        ') FOR [USR_DTALASTALT]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_HRLASTALT_DF]  DEFAULT ('        ') FOR [USR_HRLASTALT]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_TYPEBLOCK_DF]  DEFAULT (' ') FOR [USR_TYPEBLOCK]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_QTDACESSOS_DF]  DEFAULT ((0)) FOR [USR_QTDACESSOS]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_TIMEOUT_DF]  DEFAULT ((0)) FOR [USR_TIMEOUT]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_LISTNER_DF]  DEFAULT ('F') FOR [USR_LISTNER]
GO
ALTER TABLE [dbo].[SYS_USR] ADD  CONSTRAINT [SYS_USR_USR_NIVELREAD_DF]  DEFAULT ((0)) FOR [USR_NIVELREAD]
GO
